In [264]:
# Ultimately this will be a  
import pandas as pd

In [369]:
file = '/Users/alexrives/Downloads/FRB_H10.csv'
df = pd.read_csv(file)
# Renaming the columns:
def columnNames(columnName):
    # Notice that most countries are seperated by a double hyphen
    if '--' in columnName:
        splitName = columnName.split('--')
        return splitName[0].strip().upper()
    if '-' in columnName:
        splitName = columnName.split('-')
        return splitName[1].strip().upper()
    
    splitName = columnName.split(' ')
    return splitName[0].strip().upper()

def rowUnit(rows):
    return rows.split('_Per_')[-1]
df.rename(columns=columnNames, inplace=True)
df = df.transpose()
df[0] = df[0].apply(rowUnit)
df = df.transpose()
Final = df.loc[[0,2,df.index[-1]]]
Final.drop(columns = 'SERIES',inplace=True)
Final = Final.transpose()
Final = Final.astype({14: float})
for index in Final.index:
    if Final.loc[index][0] != 'USD':
        
        currentCountry = Final.loc[index][0]
        newvalue = 1/Final.loc[index][14]
        
        Final.loc[index,0] = 'USD' 
        Final.loc[index,2] = currentCountry
        Final.loc[index,14] = newvalue

In [376]:
x

In [377]:
Final

                 0    2            14
AUSTRALIA       USD  AUD     1.445504
EURO AREA       USD  EUR     0.960615
NEW ZEALAND     USD  NZD     1.597189
UNITED KINGDOM  USD  GBP     0.816860
BRAZIL          USD  BRL     5.080100
CANADA          USD  CAD     1.292900
CHINA           USD  CNY     6.788000
DENMARK         USD  DKK     7.148600
HONG KONG       USD  HKD     7.849800
INDIA           USD  INR    77.420000
JAPAN           USD  JPY   129.230000
MALAYSIA        USD  MYR     4.395900
MEXICO          USD  MXN    20.127000
NORWAY          USD  NOK     9.781900
SOUTH AFRICA    USD  ZAR    16.157500
SINGAPORE       USD  SGD     1.393200
KOREA           USD  KRW  1283.510000
SRI LANKA       USD  LKR   355.320000
SWEDEN          USD  SEK    10.057500
SWITZERLAND     USD  CHF     1.001400
TAIWAN          USD  TWD    29.790000
THAILAND        USD  THB    34.730000
VENEZUELA       USD  VEB     4.706200